.header__lang-link {
  display: inline-block;
  margin-left: 18px;
  color: #fff;
  font-size: 18px;
  line-height: 1.1;
  text-decoration: none;
  position: relative;
  top: 14px;
}

@media screen and (min-width: 768px) {
  .header__lang-link {
    font-size: 24px;
    top: 20px;
  }
}