.cover {
  position: relative;
  display: grid;
  align-items: center;
  margin-bottom: 60px;
}

.cover::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #2a2c2f;
  opacity: .3;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin-bottom: 92px;
  }
}